﻿@{
    ViewData["Title"] = "Delete";
}
@model Student;
<h1>Are you sure you want to delete?</h1>
<form asp-action="Delete" method="post">
    <label asp-for="StudentId">ID:</label><br>
    <input asp-for="StudentId" disabled><br>
    <label asp-for="StudentFirstName">First name:</label><br>
    <input asp-for="StudentFirstName" disabled><br>
    <label asp-for="StudentLastName">Last name:</label><br>
    <input asp-for="StudentLastName" disabled><br>
    <label asp-for="Course">Course:</label><br>
    <select asp-for="Course" asp-items="Html.GetEnumSelectList(typeof(Course))" disabled></select><br>
    <input type="submit" value="Delete">
    <button type="button" onclick="history.back()">Cancel</button>
</form>
